@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 350 100% 98%;
    --foreground: 340 40% 20%;
    --border: 340 30% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --accent: 19 23% 9%;
    --accent-foreground: 340 100% 98%;
    --muted: 340 20% 95%;
    --muted-foreground: 340 30% 40%;
    --primary: 3 16% 27%;
    --primary-foreground: 340 100% 98%;
    --secondary: 180 30% 45%;
    --secondary-foreground: 180 100% 98%;
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-white text-foreground min-h-screen;
    font-family: 'Barlow', sans-serif;
  }
}

@layer components {
  .looka-logo {
    width: 300px;
    height: auto;
    
    max-width: 1000px;
  }

  @media (min-width:768px) {
     .looka-logo {
      width: 500px;
     }
  }

  @media (min-width: 1024px) {
      .looka-logo {
        width: 500px; 
      }
  }

  .right-hero {
    @apply absolute w-[900px] -top-[380px] -right-[270px] -z-10;
  }
}

@layer utilities {
  .barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
}